.section-h1-and-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 65vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  @media screen and (min-width: 760px) {
    height: 85vh;
  }

  h1 {
    width: 65%;
    font-size: 3.4rem;
    text-align: center;
    font-weight: 400;

    @media screen and (min-width: 800px) {
      width: 50%;
      font-size: 4rem;
    }

    @media screen and (min-width: 1024px) {
      width: 50%;
      font-size: 5.8rem;
    }
  }
  .button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
